<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Link Expired</title>
<style>
body {
    margin:0;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background:#0f0f0f;
    color:white;
    font-family:Arial, sans-serif;
    text-align:center;
}
h1 {
    font-size:24px;
    color:red;
}
p {
    font-size:16px;
    color:#ddd;
}
</style>
</head>
<body>
<div>
<h1>❌ This link has expired!</h1>
<p>wait for verification badge in your account.</p>
</div>
</body>
</html>
